.cantener{
    padding: 0;
    text-align: center;
    width: 60%;
    margin: auto;
    margin-top: 5%;
    margin-right: 10%;
}

.upload-img{
    margin-right: 25%;
    margin-bottom: 5px;
}

/* .heading{
    margin-left: 40%;
} */