.project-publication{
    margin-left: 40%;
}

@media (max-width: 768px) {
    .maincantener-projectpub{
        width: 70%;
            margin-left: 40%;
            margin-top: 3rem;
            /* width: fit-content; */
            position: relative;
    
    }
    .primary-project-submit{
        width: 50%;
    }
    
}

@media (max-width:435px) {
    .maincantener-projectpub{
            margin-left: 10%;
    
    }
}
